*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}
header {
    width: 100%;
    height: 500px;
    background: url(https://www.italgreen.com.br/computedimage/grama-sintetica-coverciano.i4206-kvtNp4u-l5-c1-x1.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
