*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}
header {
    width: 100%;
    height: 348px;
    background: url(https://static.vecteezy.com/ti/fotos-gratis/t2/7792222-verde-grama-em-azul-ceu-claro-primavera-natureza-tema-panorama-foto.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
